<!DOCTYPE html>
<html>
  
  <head>
    <title>Write Hadith</title>
  </head>

  <body>

    <form action="/save_hadith" method="POST">
      <label for="hadith_no">Hadith No:</label><br>
      <input type="number" id="hadith_no" ><br>
      <label for="hadith_page">Hadith Page:</label><br>
      <input type="number" id="hadith_page" ><br>
      <label for="hadith_text">Hadith Text:</label><br>
      <input type="textarea" id="hadith_text" ><br>
      <br>
      <input type="submit" value="Save">
    </form>

  </body>

</html>
